.poster{
   
    height: 16cm;
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
    font-family: cursive;
}



.poster>.right{
    justify-content: right;
    
    width: 50%;

}

.poster>.left{
    text-align: left;
    width: 50%;
    background-color: #c2ddf0ab;
    margin-top: 77px;
    margin-left: -10px;
    color:#1a1a21;
    margin-bottom: 4px;
    
}

.left> .p1{
    padding-top:200px;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
  
}

.left> .p2{
    margin-left: 20px;
    font-weight: bolder;
    font-size: x-large;
}

.left> .p3{
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}
.typing-effect{
    font-size: 1.3rem;
    margin-left: 20px;
}

    .contactUs{
        display: flex;
        flex-wrap: wrap;
        margin:  -10px auto auto auto;
        background-color: rgb(26, 26, 26);
        padding: 45px;
        padding-top: 120px;
        
    }
    
    .usefuLinks{
      
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin-bottom: 30px;
    }

    .usefuLinks>div{
        padding: 20px 50px 5px 20px; 
       
    }

    .usefuLinks>div>a {
        text-decoration: none;
        padding:20px;
        color:#b1b9c0;
        font-size: 1.6rem;
        
        
    }

    .usefuLinks>div>a:hover{
        color:#fff;
    }

    .newsLetter{
        color:#b1b9c0;
        
    }

    .newsLetter>h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin: 30px 20px;
    }
    .newsLetter>input{
        border-radius: 2%;
        display: flex-box;
        margin: 10px 5px;
        line-height: 0.8cm;
        border: 2px solid rgba(52, 82, 130, 0.977);
        border-radius: 4px;
        outline: none;
        width: 200px;
    }

    .newsLetter>input:focus{
        border: 3px solid blue;
        border-radius: 4px;
    }

    .newsLetter>input::placeholder {
        font-size: 1.1rem;
        margin-bottom: -3px;
    }

    .newsLetter>a{
        width: 150px;
        height: 50px;
        margin:-80px auto 30px auto;
        font-size: 1.6rem;
    } 

    .newsButton>a>span{
        margin: auto;
    }

    .newsButton>a:hover{
        width: 180px;
    }


    .contactInfo{
        font-size: 1.6rem;
        text-align: center;
    }
    .contactInfo>p>span{
        color:rgb(205, 212, 216);
       
    }

    .contactInfo>p:hover{
        color:#fff;
    }

    .contactInfo>p{
        color:#b4bbc1;
    }

    .bn31 {
        color:  #fff;
        border-radius: 40px;
        box-sizing: border-box;
        border-width:10px; 
        display: block;
        height: 70px;
        font-size: 1.9em;
        font-weight: 500;
        position: relative; 
        text-decoration: none;
        width: fit-content;
        z-index: 2;
        margin: auto;
        border: 2px solid #0e0e10;
        top: 90px;
        background: #111115;
    }
      
    .bn31:hover {
        color:  #fff;
        font-weight: 600;
        background-image: linear-gradient(to right, #808080 0%, #0e0e10 100%);
        border: transparent;
    }


    .bn31 .bn31span {
        align-items: center;
        
        border-radius: 40px;
        display: flex;
        justify-content: center;
        height: 100%;
        transition: background 0.5s ease;
        background:transparent;
        width: 100%;
    }

    /* the text */
    .bn31span{
        margin: -3px 50px 0px auto;

    }
      

    .bn31:hover .bn31span {
        background: transparent;
    }


    .Left :nth-child(1){
        font-weight: 400;
    }

    .rooms{
        position: relative;
        text-align: center;
        margin-top: 160px;
        padding: auto;
        
        
    }
    .prizeTop>h1{
        margin-left: 30px;
        color:#02051e;
        font-family: cursive;
    }


    .rooms>div>p{
        width: 60%;
        margin: 0 auto;
        color:#545b61;
        font-size: large;
        
    }

    
       
    

    .room-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
     
    }


   .room-card img{
        height: 7cm;
        width: auto;
        margin: 20px ;
        box-shadow: 1px 3px 11px #545b61;
        border-radius: 2%;
   }


   .room-card img:hover{
        transform: scale(1.1);
   }

    .roomCard> header{
        color: #4b6fad;
        font-size: 1.5rem;
        padding: 10px;
       
    }

    

    .roomCard> footer{
        font-size: 1rem;
        font-family: monospace;
        font-weight: 300;
    }

    .restIcon, .topIcon{
        color: navy;
        text-align: center;
        margin: auto;
    }


    /* cover */
  


    .reserve ul{
        list-style-type:none;
        
    }

    .reserve ul>li{
        text-align: left;
    }

    /* the tick */
    .reserve ul>li>span{
        color:#4b6fad
    }

    .reserve>:nth-child(1)>h1{
        width: 550px;
        text-align: left;
        margin: 20px 20px 0px 20px;
        
    }     

    .reserve>:nth-child(1){
        width: 600px;
        padding: 20px;
        border-style: solid;
        border-image: linear-gradient( to bottom, #4b6fad,  rgba(0, 0, 0, 0)  ) 0.5 50%;
    }

    .reserve>:nth-child(1)>h1>Span, .reserve>:nth-child(1)>h3>Span{
        color:#4b6fad;
    }

    .reserve>:nth-child(1)>h3 ,  .reserve>:nth-child(1)>p{
        text-align: right;
        margin:  0px 20px 0 0;
        font-weight: 200;
        font-size: 1.2rem;
        
        
    }

    .reserve>:nth-child(1)>p{
        font-size: 1rem;
        color:#4b6fad;
        font-weight: 200;
        margin: 0px 40px 0 0;

    }
    
    

    .reserve>:nth-child(2){
        padding-left:35px;
        width: 300px;
        
    }

    .story{
        font-family: cursive;
        padding: 75px 40px 40px;
        margin-top: -10px;
    }

    /* footer styling */

    .footer{
        background-color:rgb(0, 0, 0);
        color:#fff;
        padding:30px;
        font-size: 1.3rem;
        margin-top: -70px;
    }

    .footertop{
       text-align: center;

    }
    .footer>div>img{
        height: 50px;
        border-radius: 50%;
    }

    .footer>div>a{
        display: block;
        margin: 15px;
        color:#818c95;
        text-decoration: none;
    }

    .footer>div>a:hover{
      
        color: navy;
        
    }

    .icons{
        display: flex;
        justify-content: center;
    }

    .topIcon{
        color:navy;
        margin-top: 30px;
    }

    .restIcon{
        color: navy;
    }
 
   