.bn32 {
    color: white;
    border-radius: 40px;
    box-sizing: border-box;
    border-width:10px; 
    display: block;
    height: 55px;
    font-size: 1.4em;
    position: relative; 
    text-decoration: none;
    width: fit-content;
    z-index: 2;
    margin: auto;
    border: 2px solid white;
    top: 5px;
    overflow: hidden;
}
  
.bn32:hover {
    color: #0e0e10;
    font-weight: 600;
    background-image: linear-gradient(to right, #808080 0%,  #9dbed8ab 100%);
    border: transparent;
}

.bn32 span:hover::after{
    content: " \00bb";
}
  
/* the button and the text inside the button */
.bn32 .bn32span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    background:transparent;
    width: 100%;
}

/* the text */
.bn32 span{
    margin: 0px 50px 0px auto;

}
  
/* when button is hovered  and the text */
.bn32:hover .bn31span {
    background: transparent;
}